.container {
  width: 100%;
  height: 100vh;
  display: flex;

  .list-panel {
    background-color: #f6f7f8;
    flex: 0 0 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      width: 196px;
      height: 100px;
      border-bottom: 1px #e2e8f0 solid;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 180px;
        height: 20px;
      }
    }
    .favorite {
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      font-size: 20px;
      font-weight: 500;
      border: 2px solid #f6f7f8;
      border-radius: 12px;
      width: 85%;
      height: 55px;
      margin: 20px 0;
      cursor: pointer;
      p {
        margin-right: 10px;
      }
      label {
        margin-right: 10px;
        cursor: pointer;
      }
      &:hover {
        background-color: #111111;
        color: #fefefe;
        border: 2px solid #111111;
      }
    }
  }

  .item-wrapper {
    position: relative;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90%;
    height: 70%;
    overflow-y: scroll;
    // box-shadow: inset 0px -65px 19px -45px rgba(0, 0, 0, 0.1);
  }

  .create-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #30a9de;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #30a9de;
    border-radius: 12px;
    width: 85%;
    margin-bottom: 150px;
    cursor: pointer;
    label {
      margin-left: 5px;
      cursor: pointer;
    }
    &:hover {
      background-color: #111111;
      color: #fefefe;
      border: 2px solid #111111;
    }
    &::before {
      content: "+";
      height: 43px;
      margin-right: 5px;
      font-size: 30px;
    }
  }

  .podcast-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    p {
      font-weight: 700;
      font-size: 32px;
      margin: 15px 24px;
    }
    .user-container {
      background-color: #fafafa;
      border-radius: 1000px;
      width: 184px;
      height: 48px;
      margin-right: 100px;
      display: flex;
      align-items: center;
      padding: 0 5px;
      .user-image {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
      .user-name {
        width: 74px;
        height: 24px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .user-container {
    position: relative;
    .user-operation {
      display: none;
      &:checked ~ .user-nav {
        position: absolute;
        width: 184px;
        height: 50px;
        top: 50px;
        background-color: #fafafa;
        display: block;
      }
    }

    .user-nav-list {
      padding: 0;
    }

    .user-nav-item {
      cursor: pointer;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      &:hover {
        background-color: #c0c0c0;
      }
    }

    .user-nav {
      display: none;
    }

    .user-nav-label {
      cursor: pointer;
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4px;
      margin-right: 15px;
      margin-bottom: 5px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}
